h2,
h3 {
    font-family: AvenirNextRoundedProBold;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    pointer-events: none;
}

#mySidenav {
    padding-top: 40px;
}

#sideNavToggleBtn {
    cursor: pointer;
    margin-left: 6px;
    margin-top: 6px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.left-nav-link {
    color: gray !important;
    font-weight: 600 !important;
    display: inline-flex !important;
    vertical-align: middle !important;
}

.left-nav-link:hover {
    color: #89a4f5 !important;
}

.nav-item-clicked {
    background-color: #EFF4FF;
    border-right: solid;
    border-right-width: 4px;
    border-right-color: #2659EE;
}

.nav-link-clicked,
.nav-link-clicked:hover {
    color: #2659EE !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    background-color: whitesmoke;
    transition: margin-left .5s;
    height: 100vh;
}

.content {
    padding-right: 0px !important;
    background-color: whitesmoke;
    width: 100%;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.page-title {
    margin-left: 39px !important;
}

.page-link {
    border-radius: 50% !important;
    color: gray;
    font-size: 12px;
    font-weight: 700;
}

.currunt-page-link {
    color: #2659EE !important;
}

.dashboard-new-items-col {
    margin-top: -44px !important;
}

#myChartDiv {
    width: 100%;
}

#dashboardChartDate {
    color: gray;
    font-size: 14px;
}

.dashboard-card {
    background-color: white;
    border-radius: 15px !important;
    border: 0 !important;
    margin-top: 15px !important;
}

.bs-card-border-left {
    border-left: solid;
    border-left-width: 1px;
    border-left-color: rgba(128, 128, 128, 0.4);
}

.dashboard-row {
    margin-top: 25px !important;
    margin-left: 15px !important;
    margin-right: 39px !important;
}

.item-card {
    padding: 5px;
    border-radius: 15px;
    background-color: whitesmoke;
}

.item-card-button {
    border: 0px;
    box-shadow: 0px 0px 2px 2px #2658ee7e;
    background-color: white;
    font-size: 10px;
    font-weight: 600;
    width: 40px;
}

.product-modal-description-p {
    color: gray;
    margin-bottom: 0px;
}

.product-modal-description-val {
    color: black;
    font-weight: 700;
    margin-bottom: 0px;
}

.product-modal-description-val:hover {
    text-decoration: none;
    color: black;
}

.progress {
    border-radius: 50px !important;
    height: 10px;
    margin-top: 8px !important;
}

.dashboard-curSaleItemCard-title {
    font-size: 14px;
    line-height: 0px;
    font-weight: 600;
}

.dashboard-newItemsCard-title {
    font-size: 14px;
    line-height: 0px;
    font-weight: 600;
}

.dashboard-curSaleItemCard-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.dashboard-newItemsCard-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* Referels */
.social-link-btn {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

/* Packages */
.package-card {
    max-width: 18rem;
    border-radius: 15px;
    border: none;
}

.package-card:hover {
    border: 1.5px solid #2658eea9 !important;
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px rgba(134, 134, 134, 0.664);
}

.package-card-header {
    background-color: white;
    border-radius: 15px !important;
    border: 0;
}

.package-card-title {
    font-weight: 700;
}

.package-card-h1 {
    font-size: 72px;
    font-weight: 700;
}

.package-card-h6 {
    font-weight: 700;
    color: gray;
}

/* History */
.product-card-description-p {
    color: gray;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
}

.product-card-description-val {
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}

.product-card-description-val:hover {
    text-decoration: none;
    color: black;
}

.card-remove-button {
    border: none !important;
    background-color: whitesmoke;
    color: gray;
    border-radius: 50%;
}

.product-card-date {
    margin-top: 4px !important;
    margin-bottom: 0px !important;
    color: gray;
    font-size: 11px;
    font-weight: 600;
}

/* Bid Items */
.bid-item-card {
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 8px;
}

/* .bid-item-card-img-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
} */

/* .bid-item-card-img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
} */

.bid-item-card-text {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.bid-item-card-val {
    color: black !important;
    text-decoration: none !important;
}

.bid-item-card-body {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.bid-item-card-footer {
    padding: 0px;
    background-color: white;
    border: 0;
}

/* Profile */
.profile-userImg {
    border: solid;
    border-color: gray;
    border-radius: 50%;
}

/* Footer */
.dashboard-footer {
    background-color: whitesmoke;
}

.dashboard-footer-p {
    font-size: 12px;
    font-weight: 600;
}

@media (max-width: 992px) {

    .sidenav {
        position: absolute !important;
    }

}