/* body,
html {
    height: 100%;
} */

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0) !important;
}

.navbar-fixed-top.scrolled {
    background-color: #2659EE !important;
    transition: background-color 200ms linear;
}

.nav-link.scrolled {
    font-weight: 600 !important;
    color: white !important;
}

.nav-link {
    font-weight: 600 !important;
}

.activeNavLink {
    color: #2659EE !important;
}

.nav-underline {
    width: 100%;
    height: 2px;
    background-color: white !important;
}

.btn-sign-in {
    font-weight: 600 !important;
    border-radius: 5px !important;
}

.btn-sign-in.scrolled {
    border-color: white !important;
    color: white !important;
}


/* Section 1 */
.section-1 {
    position: relative;
}

.section-1-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}

.section-1-bg {
    width: 100%;
    margin-left: -20px;
    margin-top: -20px;
}

.section-1-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.section-1-content-txt {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 150px;
}

.section-1-btn {
    background-color: #ffffff00;
    color: white;
    border-color: white;
}


/* Section - 2 */
.section-2 {
    position: relative;
}

/* Section - 3 */
.section-3 {
    background-color: #F7F9FC;
}

.section-3-card {
    background-color: #F7F9FC;
}

.section-3-card-img {
    width: 40% !important;
}

/* Section - 5 */
.section-5-card {
    background-color: white;
}

.video-container {
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Footer */
/* Footer - Subscribe */
.footer-subscribe {
    color: white;
    background-color: #2659EE;
}

.btn-subscribe {
    background-color: white;
    color: #2659EE;
    font-weight: 700;
}

.btn-subscribe:hover {
    background-color: #a1b7f7;
    color: black;
}

/* Footer - Content */
.footer-content {
    background-color: #F8F9FA;
}

.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-li-title {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-li {
    font-size: 14px;
    color: gray;
}

.footer-li:hover {
    color: gray;
}


/* Admin UI Styles */
label {
    text-transform: uppercase;
    font-weight: 600;
}

.bs-btn-register {
    width: 60%;
}

.bs-form-group {
    padding-left: 22px !important;
    box-shadow: 2px 2px 4px #8b8b8b !important;
    background-color: white;
}

.bs-form-group-focused {
    border-left: solid;
    border-left-width: 6px;
    border-left-color: #2659EE;
    padding-left: 16px !important;
    box-shadow: 6px 6px 6px #8b8b8ba9 !important;
}

.bs-input {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    outline: 0px !important;
}

.register-form-img-col {
    background-color: #F7F9FE;
    height: 100vh;
    /* width: 40% !important; */
    /* float: left; */
}

/* .register-form-col{
    width: 60% !important;
} */

.register-img {
    width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-register-img {
    background-color: #F7F9FE;
    height: 100vh;
}